
/*#masthead {
    text-align: center;
}

    #masthead h2 {
        font-family: 'Lato';
        font-size: 60px;
        font-weight: 400;
        line-height: 20px;
        color: rgba(128, 128, 200, 1);
        text-shadow: 0px 1px 1px #000;
    }

#navbar {
    text-align: center;
}

#navbar ul li {
    display: inline;
    padding: 10px;
}

hr {
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
    
    top: 10px;
    border: 0px;
    height: 1px;
    background-color: #999;

    z-index: -1;
}

#contact-information {
    border-collapse: collapse;
    height: 100px;
}

    #contact-information tr {
        display: block;
        height: 100px;
    }
    #contact-information .content-cell {
        padding-left: 30px;
        padding-right: 30px;
    }*/
    /*#contact-information #seperator {
        width: 0px;
        border-right: 1px solid #333;
        box-shadow: 2px 0px 0px #555;
    }


.ribbon {
    background: #eee;
    background: #057d9f;
    border-left: 1px dashed #bbb;
    border-right: 1px dashed #bbb;
    border-radius: 5px 5px 0 0;
    box-shadow: 5px 0 0 #eee,
                -5px 0 0 #eee;
    box-shadow: 5px 0 0 #057d9f,
            -5px 0 0 #057d9f;
    height: 275px;
    top: 15px;
    margin-top: -10px;
    margin-left: 60px;
    position: relative;
    width: 100px;
}
.ribbon:after,
.ribbon:before {
    border-top: 60px solid #eee;
    border-top: 60px solid #057d9f;
    content: '';
    height: 0px;
    position: absolute;
    top: 100%;
    width: 0px;
}
.ribbon:after {
    border-left: 90px solid transparent;
    right: -6px;
}
.ribbon:before {
    border-right: 90px solid transparent;
    left: -6px;
}

.ribbon-fix {
    position: absolute;
    height: 50px;
    width: 120px;
    top: 290px;
    background-color: transparent;
    margin: 0 5px;
    margin-left: 100px;
}

#badge-table {
    text-align: center;
    height: 100px;
    width: 100%;
    padding: 20px;
}


#badge-div {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px;
    color: #eee;
    font-weight: bold;
    color: #ccc;
    text-shadow: 0px 0px 2px #00F;
    font-size: 30px;
}
#badge-div img {
    background: transparent;
}

#hr-bottom {
    position: absolute;
    top: 120px;
    z-index: -1;
}*/

/*#contact {
    position: absolute;
    top: 20px;
    left: 180px;
}
    #contact tr td {
        padding-left: 20px;
        padding-right: 20px;
    }

    #contact #full-name {
        font-size: 34px;
        margin-top: -10px;
        text-shadow: 0px 1px 3px #000;
    }
    #contact #address {
        font-size: 21px;
        text-shadow: 0px 1px 3px #000;
        letter-spacing: 0px;
    }*/

/*/*#content-table {
    position: absolute;
    top: 145px;
    left: 195px;
}
    #content-table .content-row {
    }

        #content-table .content-row .content-cell {
            /*//*/padding-left: 20px;*/
            /*/*///*padding-top: 10px;*/
            /*padding: 15px;
            height: 180px;
            width: 300px;**//*/

            background-color: #d0e6b4;
            color: #575555;
            text-shadow: 1px 0px 0px rgba(0,0,0,1);
            vertical-align: top;
        }
            #content-table .content-row .content-cell .content-cell-title {
                font-size: 28px;
                color: #000;
            }
            #content-table .content-row .content-cell .content-cell-title:hover {
                color: #808080;
            }
            #content-table .content-row .content-cell .content-cell-text {
                font-size: 13px;
            }
            #content-table .content-row .content-cell .content-cell-text ul li {
                font-size: 13px;
            }
            #content-table .content-row .content-cell .content-cell-text a {
                color: #057d9f;
                cursor: pointer;
            }
            #content-table .content-row .content-cell .content-cell-text a:hover {
                color: #93cede;
                cursor: pointer;
            }

#photos tr td a:hover {
    color: #fb0;
}

a:visited {
    color: rgba(0,0,0,0);
}*/*/*/
