html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

.Btn {
    background-color: #ce1d1d;
}
/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}

.main-content {
    background: url("../Images/accent.png") no-repeat;
    padding-left: 10px;
    padding-top: 30px;
}

.featured + .main-content {
    background: url("../Images/heroAccent.png") no-repeat;
}

header .content-wrapper {
    padding-top: 20px;
    background-color: #2DBD54;
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}
/*register*/


/* site title
----------------------------------------------------------*/
.site-title {
    color: #2dbd54;
    /*font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;*/
    margin: 0;
    border: 0px;
    border-image-width: 0px;
    border-bottom-width: 0px;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #2dbd54;
        outline: none;
        text-decoration: none;
        border-bottom: none;
    }


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    text-align: right;
}

    #login a {
        background-color: inherit;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
        color: #fff;
    }

        #login a.username {
            background: none;
            margin-left: 0px;
            text-decoration: underline;
            color: #fff;
        }

        #login a:hover {
            text-decoration: none;
            color: #333;
        }

    #login p {
        color: #fff;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #fff;
            text-decoration: none;
        }

            ul#menu li a:hover {
                color: #333;
                text-decoration: none;
            }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

    .featured hgroup.title h1, .featured hgroup.title h2 {
        color: #fff;
    }

    .featured p {
        font-size: 1.1em;
    }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    padding-left: 5px;
    float: left;
    width: 55%;
    background-color: #d0e6b4;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom: 5px;
    }

#RemoveMember {
    border-right: solid 2px #c8c8c8;
    padding-left: 5px;
    float: left;
    width: 30%;
    background-color: #d0e6b4;
    height:630px;
}
fieldset.open-auth-providers {
    margin-top: 15px;
}

    fieldset.open-auth-providers button {
        margin-bottom: 12px;
    }

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    border-right: solid 2px #c8c8c8;
    padding-left: 5px;
    float: left;
    width: 80%;
    background-color: #d0e6b4;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    width: 231px;
    margin-left: 5px;
    margin-top: 0px;
}

#Label4 {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

#NewsTextSection {
    border-right: solid 2px #c8c8c8;
    padding-left: 2px;
    float: left;
    width: 95%;
    background-color: #d0e6b4;
}
#NewsDetailSection {
    border-right: solid 2px #c8c8c8;
    padding-left: 2px;
    float: left;
    width: 75%;
    height:1000px;
    background-color: #d0e6b4;
}
#Tags {
    padding-left: 2px;
}
#NewsDetailDiv {
  height:300px;
    width:300px;
}
#NewsDetailText {
    height:200px;
    width:300px;
    overflow-y:visible;
}

textarea {
    height: 200px;
    width: 450px;
}

input {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 119%;
    position: relative;
    left: 10px;
    height: 200px;
    text-align: left;
    z-index: 1;
    top: 4px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
button {
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

        th a:link, th a:visited, th a:active, th a:hover {
            color: #333;
            font-weight: 600;
            text-decoration: none;
            padding: 0;
        }

        th a:hover {
            color: #000;
        }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after {
            display: block;
            position: absolute;
            right: 0em;
            top: 0;
            font-size: 0.75em;
        }

        th.asc a:after {
            content: '▲';
        }

        th.desc a:after {
            content: '▼';
        }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 0px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover {
                color: #333;
            }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }



    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}
/* END: Mobile Styles */

        /*body {
    background-color: #444;
    color: #fff;

    font-family: 'Lato';
    font-weight: 400;
}

#masthead {
    text-align: center;
}

    #masthead h2 {
        font-family: 'Lato';
        font-size: 60px;
        font-weight: 400;
        line-height: 20px;
        color: rgba(128, 128, 200, 1);
        text-shadow: 0px 1px 1px #000;
    }

#navbar {
    text-align: center;
}

#navbar ul li {
    display: inline;
    padding: 10px;
}

hr {
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
    
    top: 10px;
    border: 0px;
    height: 1px;
    background-color: #999;

    z-index: -1;
}

#contact-information {
    border-collapse: collapse;
    height: 100px;
}

    #contact-information tr {
        display: block;
        height: 100px;
    }
    #contact-information .content-cell {
        padding-left: 30px;
        padding-right: 30px;
    }
    #contact-information #seperator {
        width: 0px;
        border-right: 1px solid #333;
        box-shadow: 2px 0px 0px #555;
    }


.ribbon {
    background: #eee;
    background: #057d9f;
    border-left: 1px dashed #bbb;
    border-right: 1px dashed #bbb;
    border-radius: 5px 5px 0 0;
    box-shadow: 5px 0 0 #eee,
                -5px 0 0 #eee;
    box-shadow: 5px 0 0 #057d9f,
            -5px 0 0 #057d9f;
    height: 275px;
    top: 15px;
    margin-top: -10px;
    margin-left: 60px;
    position: relative;
    width: 100px;
}
.ribbon:after,
.ribbon:before {
    border-top: 60px solid #eee;
    border-top: 60px solid #057d9f;
    content: '';
    height: 0px;
    position: absolute;
    top: 100%;
    width: 0px;
}
.ribbon:after {
    border-left: 90px solid transparent;
    right: -6px;
}
.ribbon:before {
    border-right: 90px solid transparent;
    left: -6px;
}

.ribbon-fix {
    position: absolute;
    height: 50px;
    width: 120px;
    top: 290px;
    background-color: transparent;
    margin: 0 5px;
    margin-left: 100px;
}

#badge-table {
    text-align: center;
    height: 100px;
    width: 100%;
    padding: 20px;
}


#badge-div {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px;
    color: #eee;
    font-weight: bold;
    color: #ccc;
    text-shadow: 0px 0px 2px #00F;
    font-size: 30px;
}
#badge-div img {
    background: transparent;
}

#hr-bottom {
    position: absolute;
    top: 120px;
    z-index: -1;
}

#contact {
    position: absolute;
    top: 20px;
    left: 180px;
}
    #contact tr td {
        padding-left: 20px;
        padding-right: 20px;
    }

    #contact #full-name {
        font-size: 34px;
        margin-top: -10px;
        text-shadow: 0px 1px 3px #000;
    }
    #contact #address {
        font-size: 21px;
        text-shadow: 0px 1px 3px #000;
        letter-spacing: 0px;
    }

#content-table {
    position: absolute;
    top: 145px;
    left: 195px;
}
    #content-table .content-row {
    }

        #content-table .content-row .content-cell {

            padding: 15px;
            height: 180px;
            width: 300px;

            background-color: #333;
            color: #ddd;
            text-shadow: 1px 0px 0px rgba(0,0,0,1);
            vertical-align: top;
        }
            #content-table .content-row .content-cell .content-cell-title {
                font-size: 21px;
                line-height: 0px;
                cursor: pointer;
                color: rgba(255, 187, 0, 0.8);
            }
            #content-table .content-row .content-cell .content-cell-title:hover {
                color: #fb0;
            }
            #content-table .content-row .content-cell .content-cell-text {
                font-size: 13px;
            }
            #content-table .content-row .content-cell .content-cell-text ul li {
                font-size: 13px;
            }
            #content-table .content-row .content-cell .content-cell-text a {
                color: #057d9f;
                cursor: pointer;
            }
            #content-table .content-row .content-cell .content-cell-text a:hover {
                color: #93cede;
                cursor: pointer;
            }

#photos tr td a:hover {
    color: #fb0;
}
#hr-footer {
    position: absolute;
    top: 645px;
}

a:visited {
    color: rgba(0,0,0,0);
}*/
#content-table .content-row .content-cell {
    padding-left: 20px;
    padding-top: 10px;
    /*padding: 15px;*/
    height: 180px;
    width: 300px;
    background-color: #d0e6b4;
            color: #6b6565;
            text-shadow: 1px 0px 0px rgba(0,0,0,1);
            vertical-align: top;
            /*border: outset 10pt;*/ 
             /*border-collapse: separate;
             border-spacing: 15pt ;*/
             border:30px solid #efeeef;
            
}
     



/*Personal home page style*/
.search-area { float:right; }
.cont-left { width:500px; margin-left:10px; margin-top:10px; text-align:center; float:left; }
h1 { color:#2dbd54; }
.group-area { text-align:left; clear:both; padding-bottom:40px; }
.group-name { float:left; width:120px; height:60px; background:#2dbd54; color:white; font-weight:bold; border-radius:10px; text-align:center; padding-top:40px; margin-top:-10px; }
.group-content { border:1px solid #2dbd54; border-radius:8px; padding-left:110px; height:75px; }
.cont-right { margin-left:530px; padding-top:20px; }
.cont-right h2 { display:block; text-align:center; background:#2dbd54; color:white; font-weight:bold; padding:5px; margin-bottom:5px; }
table { border-collapse:collapse; border:1px solid #aaa; border-spacing:1px; width:100%; }
table td { background:#d0e6b4; border:1px solid white; padding:5px 10px; }





/*group page*/
ul, li { list-style:none; padding:0; }
a { text-decoration:none; color:black; }
/* left menu bar */
.sidebar { float:left; margin-right:10px; margin-left:10px; }
.sidebar ul { width:200px; border:1px solid #2dbd54; font-size:10px; }
.sidebar ul img { height:25px; float:right; margin-right:6px; }
.sidebar ul a { display:block; border-bottom:1px solid #2dbd54; line-height:30px; padding:0 8px; }
.sidebar .current { background:#2dbd54; color:white; font-weight:bold; }
.sidebar li:hover { background:#d3dce0; color:black; }
/* right content */
.content { margin-top:10px; margin-left:220px; }
/* new area */
.face-area { width:100px; height:100px; overflow:hidden; border:1px solid #999; padding:3px; border-radius:150px; float:left; margin-top:30px; }
.face-area img { width:100px; }
.right { border:1px solid #2dbd54; border-radius:5px; padding:5px; margin-left:55px; padding-left:60px; }
.news-content { position:relative; border:1px solid #d3dce0; padding:5px; border-radius:150px}
.news-content .news-img {position:relative; border:1px solid #999; padding:3px; width:80px; height:80px;float:left}
.news-content .news-img img {width:80px; height:80px;}
/*.news-content{ overflow:hidden; }
.news-content .news-img { padding:0px; margin:0px; border:1px solid #999; width:20px; height:20px; }
.news-content.news-img img { width:20px; }
.news-comment { overflow:hidden; }
.news-comment .news-img { width:160px; height:160px; }
.news-comment .news-img img { width:160px; }*/
.news-content .text { word-break:break-all;width:220px; height:130px; overflow:hidden; padding-top:5px; padding-left:10px; padding-bottom:5px;}
.news-comment { position:relative; border:0px solid #999; padding:5px; font-size: 12px; }
.news-comment img {width:35px; height:35px;overflow:hidden}
.news-comment .commenttext{
    word-break:break-all;width:350px; height:30px; overflow:hidden; }
.news-comment .comment-name{
    overflow:hidden; height:20px;width:20px;
    
}

/*.RegularButton {
background-color:#2dbd54; 
color:#fff;
}*/